#index{
	background-image: url(../assets/img/img02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 100vh;
	position: relative;
}
.position{
	position: absolute;
	bottom: 10%;
	width: 90%
}
#index .img-responsive{
	width: 25%;
	margin-top: 10%
}
#index .btn{
	width: 100%;
	padding: 10px 45px;
	color: #FFF;
}
#index .sign{
	background: linear-gradient(to right, #a80077 0%,#a80077 43%,#ce2767 100%);
	border-radius: 5px;
	color: #fff;
}
#index .log{
	background-color: transparent;
}