/*general*/
.position-relative{
	position: relative;
}
.position-absolute{
	position: absolute;
}
.white{
	color: #fff;
}
/*index*/
.index{
	background-image: url(../assets/img/lyft.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

/*home*/
.home{
	background: url(../assets/img/road.gif);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	height: 100vh;
}
.buttons{
	bottom: 10%;
	width: 90%
}
.home .img-responsive{
	width: 25%;
	margin-top: 10%
}
.home .btn{
	width: 100%;
	padding: 10px 45px;
	color: #FFF;
}
.home .sign{
	background: linear-gradient(to right, #a80077 0%,#a80077 43%,#ce2767 100%);
	border-radius: 5px;
	color: #fff;
}
.home .log{
	background-color: transparent;
	color: #FF00BF;
	border-radius: 5px;
	font-weight:600;
}
/*seccion sign up*/
.arrow-left{
	font-size: 2.2em;
	color: #D806A3;
	margin-left: -45%;

}
.signup img{
	margin-right: 2px;
	width: 2em;
}
.next{
	background: linear-gradient(to left, #a80077 0%,#a80077 43%,#ce2767 100%);
	width: 100%;
	bottom: 0;
}
footer section{
	padding: 3% 0
}
/*form sign*/
.input-group .input-group-addon{
	background-color: transparent;
}
.stylish-input-group .form-control{
	border-left:0; 
	box-shadow: 0 0 0; 
	border-color:#ccc;
}
.stylish-input-group{
	border:0;
	background:transparent;
}
.input-group .input-left{
	border-right: 0;
}
.input-group .input-right{
  border-left: 0;
}
.two-fields {
  width:100%;
}
.two-fields .input-group {
  width:100%;
}
.two-fields input {
  width:50% !important;
}
/*check*/
.input-number{
	width: 10%;
	border: 0;
	border-bottom: 2px solid #8E12FF;
}
/*map*/
.map {
	height: 100vh;
	width: 100%;
}