<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link type="image/x" rel="shortcut icon" href="../assets/img/lyft_logo.ico">
		<link rel="stylesheet" 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../css/style.css">
		<title>Lyft</title>
	</head>
	<body>
		<header class="text-center position-relative">
			<a href="signup.html">
				<span class="glyphicon glyphicon-menu-left arrow-left position-absolute"></span>
			</a>
			<h1>Verify phone number</h1>
			<h3>Join now for free ride credit</h3>
			<hr>
		</header>
		<section class="text-center">
			<form class="container">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<label>LAB - </label>
						<input type="tel" class="input-number" maxlength="1">
						<input type="tel" class="input-number" maxlength="1">
						<input type="tel" class="input-number" maxlength="1">
					</div>
				</div>
			</form>
			<br>
			<div class="text-center codigo">
				<span>Enter the code sent to +52</span>
				<span id="numero-tel"></span>
			</div>
			<br>
			<button class="btn" type="submit">Resend code</button>
		</section>
		<footer class="container-fluid next position-absolute">
			<section class="text-center">
				<h3><a href="form-sign.html" class="white">Next</a></h3>
			</section>
		</footer>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
