<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link type="image/x" rel="shortcut icon" href="../assets/img/lyft_logo.ico">
    <link rel="stylesheet" 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Lyft</title>
  </head>
  <body>
    <header class="text-center position-relative">
      <a href="signup.html">
        <span class="glyphicon glyphicon-menu-left arrow-left position-absolute"></span>
      </a>
      <h1>Sign up</h1>
      <h3>Join now for free ride credit</h3>
      <hr>
    </header>
    <section class="container-fluid signup">
      <form>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <span class="input-group-addon input-left">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                </span>
                <input type="text" required class="form-control input-left" placeholder="First name">
                <input type="text" required class="form-control input-right" placeholder="Last name">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </span>
                <input type="email" class="form-control"  placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <sectio class="container-fluid">
      <form class="row">
        <label class="col-md-4 col-md-offset-5 col-xs-8 col-xs-offset-2">
          <input type="checkbox" required>
          I agree to Lyft´ss 
          <a href="../index.html">
            Terms of Service
          </a>
        </label>
      </form>
    </sectio>
    <footer class="container-fluid next position-absolute">
      <section class="text-center">
        <h3><a class="white">Next</a></h3>
      </section>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>